<div class="authors">
  <h3>Authors</h3>
  <ul>
    <li>
      <!-- <%=image_tag "", :class => "author-image"%> -->
      <h4>Philip Sorenson</h4>
      <p>
        Philip Sorenson lives in Chicago with his wife, Olivia Cronk, and their daughter, Louise. His poems have appeared in a variety of journals, including Hayden's Ferry Review, elimae, Asymptote, and Saltgrass. He teaches writing and literature.
      </p>
    </li>
    <li>
      <!-- <%=image_tag "", :class => "author-image"%> -->
      <h4>Blueberry Morningsnow</h4>
      <p>
Blueberry Morningsnow was born in Missoula, Montana in 1977. She grew up in Chatham, Illinois, and then lived in Iowa City, St. Louis, and Chicago. She was in the bands The Star Death and Hroom Hroom in St. Louis. Currently, she lives in Iowa City. She has one son, Finnegan. Recent poems have been published in Thermos and Loaded Bicycle. WHALE IN THE WOODS is her first book.      
      </p>
    </li>
    
    <li>
      <%=image_tag "melissa-dickey.jpg", :class => "author-image"%>
      <h4>Melissa Dickey</h4>
      <p>
        Melissa Dickey graduated from the University of Washington and the Iowa Writers' Workshop. 
        She teaches creative writing at Tulane University, co-edits 
        <a href="http://www.thermosmag.com/">Thermos magazine</a>, and keeps a 
        <a href="http://eachsmallthing.wordpress.com/">blog</a>.Born and raised in 
        New Orleans, she lives there with her husband, the poet Andy Stallings, and their two children.
      </p>
    </li>
    <li>
      <%=image_tag "shane-mccrae.jpg", :class => "author-image"%>
      <h4>Shane McCrae</h4>
      <p>
        Shane McCrae is the author of <em>Mule</em>
        (<a href="http://www.csuohio.edu/poetrycenter/AuthorBook/McCrae.html">Cleveland State University Poetry Center</a>
        , 2010), and the chapbook <i>One Neither One</i> (<a href="http://octopusbooks.net/wp/?page_id=82">
        Octopus Books</a>, 2009). His work has appeared in The Best American Poetry 2010, The American Poetry Review, African American Review, Agni, 
        The Kenyon Review, Octopus Magazine, Typo, and others. He went to school at the University of Iowa Writers' Workshop and Harvard Law, and is 
        currently pursuing a Ph.D. in English at the University of Iowa.
      </p>
    </li>
    <li>
      <%=image_tag "madeline-mcdonnell.jpg", :class => "author-image"%>
      <h4>Madeline McDonnell</h4>
      <p>
        Madeline McDonnell is a graduate of the Iowa Writers’ Workshop, and a former 
        lexicographer for the Oxford English Dictionary. She lives in New York City, where she 
        is at work on a novel and a longer collection of short stories. 
        Read Madeline's <em>“Safety Book”</em> Interview 
        <a href="http://rescuepress.wordpress.com/2010/09/15/madeline-mcdonnell-safety-book-1/">here</a>. 
        And, reviews of the stories at: 
        <a href="http://perpetualfolly.blogspot.com/2011/05/short-story-month-2011-there-is.html">Perpetual Folly</a>, 
        <a href="http://gentlyread.wordpress.com/2011/04/01/a-lush-intriguing-set-emilie-tarrant-on-madeline-mcdonnells-there-is-something-inside-it-wants-to-get-out/">Gently Read Lit</a>,  
        <a href="http://www.newpages.com/bookreviews/2011-02-01/#There-Is-Something-Inside-It-Wants-to-Get-Out-by-Madeline-McDonnell">NewPages</a> 
        and 
        <a href="http://vol1brooklyn.com/2011/03/22/book-review-there-is-something-inside-it-wants-to-get-out/">Vol. 1 Brooklyn</a>.
      </p>
    </li>
    <li>
      <%=image_tag "marc-rahe.jpg", :class => "author-image"%>
      <h4>Marc Rahe</h4>
      <p>
        Marc Rahe grew up in Pleasantville, Iowa. He received an MFA from the Iowa Writers' Workshop 
        and his poems have appeared or are forthcoming in 
        <a href="http://www.gutcult.com/Site/litjourn6/html/MR.htm">Gutcult</a>, 
        <a href="http://www.inknode.com/piece/231-marc-rahe-with-out">Ink node</a>, 
        <a href="http://www.lafovea.org/La_Fovea/marc_rahe.html">La Fovea</a>, 
        <a href="http://notnostrums.com/iss4/Rahe.html">Notnostrums</a>, 
        Painted Bride Quarterly, Sixth Finch, and other literary journals. 
        Marc lives in Iowa City and works for a human services agency. 
        <em>The Smaller Half</em> is his first book.
      </p>
    </li>
    <li>
      <%=image_tag "andrea-rexilius.jpg", :class => "author-image"%>
      <h4>Andrea Rexilius</h4>
      <p>
        Andrea Rexilius completed her PhD in Literature and Creative Writing at the University of Denver. 
        She is the editor of the online journal 
        <a href="http://marcelpress.wordpress.com/2010/10/03/parcel-journal-archive/">Parcel</a> and co-editor of 
        <a href="http://marcelpress.wordpress.com/">Marcel</a>. She used to belong to the 
        Denver Quarterly. 
        Andrea's work has appeared in 
        <a href="http://www.asu.edu/pipercwcenter/how2journal/archive/online_archive/v2_4_2006/current/alerts/rexilius.html">How 2</a>, 
        P-Queue, OR, 
        <a href="http://playnoplay.blogspot.com/2007/07/featuring-andrea-rexilius_05.html">Play/No Play</a>, 
        <a href="http://www.trickhouse.org/vol6/interview/bausandrexilius.html">Trickhouse</a>, 
        and elsewhere. She has a chapbook on 
        <a href="http://horselesspress.com/rexilius.html">Horse Less Press</a>. 
        More work can be found at: 
        <a href="http://www.rabbitlightmovies.com/rexilius.html">Rabbit Light Movies</a>, 
        and 
        <a href="http://www.octopusmagazine.com/Issue11/rexilius.htm">Octopus Magazine</a>.
      </p>
    </li>
    <li>
      <%=image_tag "danielle-rosen.jpg", :class => "author-image"%>
      <h4>Danielle Rosen</h4>
      <p>
        Danielle Rosen was born and raised in Iron Mountain, MI and is a graduate of the Milwaukee 
        Institute of Art and Design. She is currently enrolled in the Masters of Fine Art program 
        at the University of Chicago. 
        Language is at the core of Rosen’s investigative practice, 
        where she often employs visual poetics and letterpress techniques. She has exhibited 
        nationally in New York, Philadelphia and Milwaukee. 
      </p>
    </li>
    <li>
      <%=image_tag "patricia-rose.jpg", :class => "author-image"%>
      <h4>Patricia Rose</h4>
      <p>
        Patricia Rose is a leading scientist in the study of linguistics and human evolution. 
        In addition to conducting experiments on human subjects, Rose also publishes peer reviewed 
        essays and distributes self-published analyses on animal behavior. 
        Her most recent studies examine the concept of ‘umwelt,’ first developed by theorist Jakob 
        von Uexkull. Rose’s highly anticipated essay on the topic, is entitled: <em>“The Cognitive 
        Complications of the Speciest.”</em>
        Language is at the core of Rosen’s investigative practice, 
        where she often employs visual poetics and letterpress techniques. She has exhibited 
        nationally in New York, Philadelphia and Milwaukee. 
      </p>
    </li>
    <li>
      <%=image_tag "zach-savich.jpg", :class => "author-image"%>
      <h4>Zach Savich</h4>
      <p>
        Zach Savich is the author of 
        <em><a href="http://www.uiowapress.org/books/2009-spring/savich.htm">Full Catastrophe Living</a></em> 
        (University of Iowa Press, 2009), 
        <em><a href="http://www.upcolorado.com/book/New_Titles/Annulments_Paperback">Annulments</a></em> 
        (Center for Literary Publishing, 2010), 
        <em><a href="http://www.omnidawn.com/contest/chapbook_2010.htm">The Man Who Lost His Head</a></em> 
        (Omnidawn, 2010), and 
        <em><a href="http://www.csuohio.edu/poetrycenter/AuthorBook/savich.html">The Firestorm</a></em> 
        (Cleveland State University Poetry Center, 2011). 
        More work can be found at: the 
        <a href="http://www.bostonreview.net/BR34.4/savich2.php">Boston Review</a>, 
        <a href="http://ithoughtiwasnewhere.blogspot.com/2010/05/new-poems-by-zach-savich.html">I Thought I Was New Here</a>, 
        and 
        <a href="http://jellyfishmagazine.org/savich.html">Jellyfish</a>. Zach is 
        the book review editor at The Kenyon Review. Check out Zach's <em>“Safety Book”</em> Interview 
        <a href="http://rescuepress.wordpress.com/2010/09/26/zach-savich-safety-book-2/">here</a>. 
      </p>
    </li>
    <li>
      <%=image_tag "vinnie-wilhelm.jpg", :class => "author-image"%>
      <h4>Vinnie Wilhelm</h4>
      <p>
        Vinnie Wilhelm was born in New Haven, Connecticut. He is a graduate of the Iowa Writers' 
        Workshop and the recipient of literary fellowships from the Provincetown Fine Arts Work 
        Center and the National Endowment for the Arts.
        Wilhelm's fiction has appeared in the 
        <a href="http://www.vqronline.org/articles/2009/winter/wilhelm-fauntleroy-ghost/">Virginia Quarterly Review</a>, 
        Harvard Review, Southern Review, and elsewhere. He lives in Philadelphia.
      </p>
    </li>
  </ul>
</div>
<aside class="snippet">
  <figure>
    <%=image_tag "rescue-eagle.png"%>
  </figure>
</aside>