<div class="purchase">
  <h3>Purchase</h3>
  <div class="books">
    <figure>
      <a href="#1">
        <%= image_tag "m-dickey-the-lily-will.png"%>
      </a>
      <figcaption>
        <h4>The Lily Will</h4> 
        <cite>Melissa Dickey</cite>
      </figcaption>
    </figure>

    <figure>
      <a href="#2"><%= image_tag "d-rosen-p-rose-species-systemization.png"%></a>
        <figcaption>
          <h4>The Institute For Species Systemization: An Experimental Archive</h4> 
          <cite>Danielle Rosen &amp; Patricia Rose</cite>
        </figcaption>
    </figure>

    <figure>
      <a href="#3"><%= image_tag "v-wilhelm-absence-of-predators.png"%></a>
      <figcaption>
        <h4>In the absence of Predators</h4>
        <cite>Vinnie Wilhelm</cite>
      </figcaption>
    </figure>

    <figure>
      <a href="#4"><%= image_tag "m-rahe-the-smaller-half.png"%></a>
      <figcaption>
        <h4>The Smaller Half</h4>
        <cite>Marc Rahe</cite>
      </figcaption>
    </figure>

    <figure>
      <a href="#5"><%= image_tag "s-mccrae-in-canaan.jpg"%></a>
      <figcaption>
        <h4>In Canaan</h4>
        <cite>Shane McCrae</cite>
      </figcaption>
    </figure>

    <figure>
      <a href="#6"><%= image_tag "m-mcdonnell-something-inside.png"%></a>
      <figcaption>
        <h4>There is something inside, it wants to get out</h4>
        <cite>Madeline McDonnell</cite>
      </figcaption>
    </figure>

    <figure>
      <a href="#7"><%= image_tag "z-savich-events-film.png"%></a>
      <figcaption>
        <h4>Events Film Cannot Withstand</h4>
        <cite>Zach Savich</cite>
      </figcaption>
    </figure>

    <figure>
      <a href="#8"><%= image_tag "a-rexilius-to-be-human.jpg"%></a>
      <figcaption>
        <h4>To Be Human is To Be a Conversation</h4>
        <cite>Andrea Rexilius</cite>
      </figcaption>
    </figure>
  </div>

  <a name="1">
    <h3>
      Second Year Catalogue 2011-2012
    </h3>
  </a>
  <ul>
    <li>
      <%= image_tag "m-dickey-the-lily-will.png", :class => "book"%>
      <h4>The Lily Will,</h4>
      <cite>Melissa Dickey</cite>
      <p>
        Oblique, intelligent, and sad, <em>The Lily Will</em> introduces readers to a voice beautifully 
        sustained through compressed lyrics and long, meticulous sequences. The geography of 
        this book is one of thistles and ice, love flashed with fear, and frail bodies seeking 
        safety in heavy weather.In its warped miniatures (here an eye, there a red leaf, seen 
        distended through iced glass) there is a commitment to smallness, vulnerability marked by 
        precision, and intimations, too, of the eternal:
      </p>
      <a name="2">
        <blockquote>
          “What is earthly? An impulse to paradise.”
        </blockquote>
      </a>
      <button><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=QZGJBJLGJRBHN">Purchase</a></button>
    </li>
  <li>
    <%= image_tag "d-rosen-p-rose-species-systemization.png", :class => "book"%>
    <h4>The Institute For Species Systemization: An Experimental Archive,</h4>
    <cite>Danielle Rosen / Patricia Rose</cite>
    <p>
      This groundbreaking work of research, investigative scientific studies, never-before collected
      data, and interpreted evidence from the Institute for Species Systemization is concerned with 
      the psychological, literal, and linguistic spaces between animals and humans. The archive cites 
      theories of proxemics and zoosemiotics--as well as the infamous psychological studies of Skinner 
      and Harlow--as both precedent and provocation.
    </p>
    <a name="3"><button><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=4DRRKLMN76AQY">Purchase</a></button></a>
  </li>
  <li>
    <%= image_tag "v-wilhelm-absence-of-predators.png", :class => "book"%>
    <h4>In the absence of Predators,</h4>
    <cite>Vinnie Wilhelm</cite>
    <p>
      Shot through with dark humor, desolate landscapes, and seemingly impossible plot turns, 
      <em>In the Absence of Predators</em> is a striking collection that haunts long after the 
      stories have reached their outlandish conclusions. Here we discover the most captivating 
      of human forms: dreamers, liars, thieves, murderers, and lovers--characters provoked to 
      search, and those abandoned by their own fates and identities. Wilhelm’s narrative crescendos 
      disclose the most terrifying corners of this world; there are wrecks, blizzards, asylums, 
      agents, road trips, and an army of ghosts. <em>In the Absence of Predators</em> is a masterful 
      debut of five cracked and astonishing stories.
    </p>
    <a name="4"><button><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=RVFLGBTLRUX2E">Purchase</a></button></a>
  </li>
</ul>

  <h3>
   First Year Catalogue: 2010-2011
  </h3>
  <ul>
    <li>
      <%= image_tag "m-rahe-the-smaller-half.png", :class => "book"%>
      <h4>The Smaller Half,</h4>
      <cite>Marc Rahe</cite>
      <p>
        Marc Rahe’s concern with the body--in motion, trauma, sickness, health, 
        intoxication, joy, wonder, and waiting--fascinates and compels one to 
        heartbreak, desire, and resignation. These poems are silly and strange, 
        adaptive, fiery, and fiercely observant—as well as bent on the notion 
        that one might attend to even the smallest of extraordinary detail.
      </p>
      <a name="5"><button><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=P8NULJ9QD68Q8">Purchase</a></button></a>
    </li>
    <li>
      <%= image_tag "s-mccrae-in-canaan.jpg", :class => "book"%>
      <h4>In Canaan,</h4>
      <cite>Shane McCrae</cite>
      <p>
      In Shane McCrae’s astonishing second chapbook, <em>In Canaan</em>, he inhabits the personae 
      of the escaped slave Margaret Garner, who, in the mid-1800s, murdered one of her 
      daughters in order to keep her from returning to slavery. <em>“I couldn’t stop, Hurting her 
      because it hurt,”</em> writes McCrae in the voice of Garner, <em>“Before that night I never had 
      the chance to love, Anyone, she was the first person I loved.”</em> McCrae composes in broken 
      forms and shattered fragments, retelling a harrowing historical story through the imagined 
      first-person point of view of its tortured and terrified heroine. 
      </p>
      <a name="6"><button><a href="http://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=BDSQZBNAXHF54">Purchase</a></button></a>
    </li>
    <li>
      <%= image_tag "m-mcdonnell-something-inside.png", :class => "book"%>
      <h4>There is something inside, it wants to get out,</h4>
      <cite>Madeline McDonnell</cite>
      <p>
        The brief and stunning debut by fiction writer Madeline McDonnell. In these 
        technically surprising and lyrically astounding stories, the reader meets three 
        haunted, singular, and unsettled protagonists—Wednesday, Mary, and Lucy—who 
        are up to and up against all sorts of horrendous and hilarious trouble. The 
        reader will discover in this trinity a deeply intelligent, comic, and chaotic 
        view of consciousness, pleasure, and shame along with a panic-inducing proposal, 
        cancer-basketball, and a series of passionate car crashes. Perhaps more importantly, 
        the reader will fall for McDonnell’s poetic touch and her absolute attention to the 
        magic of the sentence.
      </p>
      <a name="7"><button><a href="http://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=P89LWT2UPRBVJ">Purchase</a></button></a>
    </li>
    <li>
      <%= image_tag "z-savich-events-film.png", :class => "book"%>
      <h4>Events Film Cannot Withstand,</h4>
      <cite>Zach Savich</cite>
      <p>
        <em>“I want to write you a beautiful book of prose, against not least the before-too-long 
        loss of tongue and sense and all sun-defiant hues on the river bend, and none of us 
        able to say or touch or see, soon enough, soon enough, aground, to give you this my 
        voice today nevertheless, withstanding, nevertheless, given everything, for you, a clear 
        note from a complicated bell,”</em> begins Zach Savich in his first book of prose. He goes 
        on to compose a powerful, precise, and playfully chaotic book-length lyric memoir on art, 
        process, friendship, place, and imagination. 
      </p>
    <a name="8"><button><a href="http://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=D9S2TNWFQEVR2">Purchase</a></button></a>
    </li>
    <li>
      <%= image_tag "a-rexilius-to-be-human.jpg", :class => "book"%>
      <h4>To Be Human is To Be a Conversation,</h4>
      <cite>Andrea Rexilius</cite>
      <p>
      Andrea Rexilius’ first book, <em>To Be Human Is To Be A Conversation</em>, combines memoir, essay, 
        performance, research, poetry, and lyric meditation to entwine, twist, and twin the physical 
        and spiritual consequences of sisterhood. Through a series of investigations and experiments, 
        the text transforms initial factual fragments into the bodily material of the (heard and 
        unheard) language of intimates.
      </p>
      <blockquote>
        “Our crime is she began to grow in my skin,” writes Rexilius, “A con artist. A mammal. A 
        flower at the back of my skull.”
      </blockquote>
      <button><a href="http://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=WHLJCMZG96HG6">Purchase</a></button>
    </li>
  </ul>
</div>


<aside class="snippet">
  <figure>
    <%= image_tag "heart.png"%>
  </figure> 
</aside>

<div class="purchase-subscription">
  <h3>
    Subscriptions
  </h3>
  <ul>
    <li>
      <h4> Year One</h4>
      <p>Get a subscription to Year One of Rescue Press books.</p>
      <button><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=2DVEFCXGB3K82">Purchase</a></button>
    </li>
  </ul>
</div>
