<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
  <title>Rescue Press</title>
  <%= stylesheet_link_tag "reset" %>
  <%= stylesheet_link_tag "rescue-press" %>

  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <link href='http://fonts.googleapis.com/css?family=Lato:900|Amaranth|Crimson+Text:400,400italic,700' rel='stylesheet' type='text/css'>
</head>
<body>
  <div role="navigation">
    <h1><%= link_to "R+P", root_path%></h1>
    <h4><%= link_to "rescue press", root_path%></h4>
  </div>
  
  <div role="main">
    <nav>
      <ul>
        <li><%=link_to "home", root_path%></li>
        <li><%=link_to "news", news_path%></li>
        <li><%=link_to "purchase", purchase_path%></li>
        <li><%=link_to "authors", authors_path%></li>
        <li><%=link_to "submissions", submissions_path%></li>
        <li><%=link_to "links", links_path%></li>
        <li><%=link_to "contact", contact_path%></li>
        <li><a href="http://rescuepress.wordpress.com/">blog</a></li>
        <li><a href="http://www.facebook.com/pages/Rescue-Press/323432508552"><%= image_tag "facebook.png"%></a></li>
      </ul> 
    </nav>
    
    <%= yield %>

  </div>

</body>
</html>
